div.container {
  max-width: 705px;
}

h1, h2, h3 {
  font-weight: 300;
  padding-bottom: 5px;
}

h1 {
  border-bottom: 1px solid #aaa;
}

h2 {
  border-bottom: 1px solid #ccc;
}

h3 {
  border-bottom: 1px solid #eee;
}

h3, h4, h5 {
  font-weight: 300;
}

h5 {
  margin-bottom: 1px;
}

h5 span.pull-right {
  color: #966;
}

span.authors {
  color: #888;
}

span.authors span.me {
  color: #696;
}

div.conference {
  color: #aaa;
}

div.icons {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

div.icons p {
  font-size: 10px;
}

h4 span.date {
  color: #aaa;
  font-size: 10pt;
}

ul {
  padding-left: 25px;
}

div.block {
  padding-left: 10px;
  border-left: 10px solid #999;
}

div.block:nth-of-type(odd) {
  border-color: #696;
}

div.previous div.col-md-6:nth-child(n+2) div.block {
  opacity: 0.4;
  border-color: #966;
}

div.previous div.col-md-6:nth-child(n+2) div.block:hover {
/*div.previous div.col-md-6:nth-child(n+2):hover {*/
  opacity: 1;
}
